<form method="POST">
    <input type="text" name="TestInput" placeholder="Test purpose">
    <input type="submit" name="TestInputBtn">
</form>

<form method="POST">
    <input type="text" name="TestInput2" placeholder="Test purpose">
    <input type="submit" name="TestInputBtn2">
</form>